* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*  */
.btn {
  border: none;
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  padding: 11px 21px;
  background-color: #000;
  cursor: pointer;
}
.row {
  margin-left: -8px;
  margin-right: -8px;
}
.col {
  float: left;
  padding-left: 8px;
  padding-right: 8px;
}
.row::after {
  content: "";
  display: block;
  clear: both;
}
.col-half {
  width: 50%;
}
.col-third {
  width: calc(100% / 3);
}
.col-full {
  width: 100%;
}
.text-center {
  text-align: center !important;
}
.mt-8 {
  margin-top: 8px !important;
}
.mt-16 {
  margin-top: 16px !important;
}
/*  */
.text-white {
  color: #fff !important;
}
.pull-right {
  float: right !important;
}
html {
  scroll-behavior: smooth;
  font-size: 15px;
  line-height: 1.5;
  font-family: "Lato", Helvetica, sans-serif;
}
h2 {
  margin: 10px 0;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 4px;
}
h3 {
  font-size: 24px;
}
#main {
}
#header {
  height: 46px;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.open {
  height: auto !important;
}
#mobile-menu {
  display: none;
}
#header .mobile-menu-btn,
#header .search-btn {
  float: right;
  padding: 0 22px;
}
#header .search-btn:hover {
  cursor: pointer;
  background-color: #f44336;
}
#header .mobile-menu-btn:hover {
  cursor: pointer;
  background-color: #ccc;
}
#header .mobile-menu-button:hover .menu-icon {
  color: #000;
}
#header .menu-icon,
#header .seach-icon {
  font-size: 18px;
  color: #fff;
  line-height: 46px;
}
#nav {
  display: inline-block;
}
#nav,
.subnav {
  list-style-type: none;
}
#nav .subnav {
  min-width: 160px;
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#nav li:hover .subnav {
  display: block;
}
#nav .subnav a {
  display: block;
  color: #000;
  padding: 0 16px;
  line-height: 38px;
}
#nav > li {
  display: inline-block;
}
#nav li {
  color: #fff;
  position: relative;
}
#nav > li > a {
  color: #fff;
  text-transform: uppercase;
}
#nav li a {
  text-decoration: none;
  line-height: 46px;
  padding: 0 24px;
  display: inline-block;
}
#nav .subnav li:hover > a,
#nav > li:hover > a {
  background-color: #ccc;
  color: #000;
}
#nav .nav-arrow-down {
  font-size: 13px;
}
/* Slider */
#slider {
  position: relative;
  margin-top: 46px;
  padding-top: 50%;
  background: url("/assets/img/ny.jpg") top center / cover no-repeat;
}
#slider .text-content {
  position: absolute;
  bottom: 0;
  padding: 32px 16px;
  color: #fff;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}
#slider .text-heading {
  font-weight: 500;
}
#slider .text-description {
  margin: 15px 0;
}
#content {
}
#content .content-section {
  padding: 64px 0 112px;
  max-width: 100%;
  width: 768px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}
#content .section-heading {
  text-align: center;
}
#content .section-sub-heading {
  margin: 15px 0;
  text-align: center;
  opacity: 0.6;
}
#content .about-text {
  text-align: justify;
}
#content .member-list {
  margin-top: 32px;
}
#content .member-img {
  width: 154px;
}
#content .member-name {
  margin: 16px 0;
}
/* Tour-section */
#content .tour-section {
  background-color: #000;
}
.ticket-list {
  margin-top: 40px;
  background-color: #fff;
}
.ticket-list li {
  list-style-type: none;
  color: #757575;
  padding: 8.5px 16px;
  border-bottom: 1px solid #ccc;
}
.ticket-list .soid-out {
  margin-left: 16px;
  padding: 3px 8px;
  color: #fff;
  background-color: #f44336;
}
.ticket-list .quantity {
  background-color: #000;
  color: #fff;
  padding: 4px 8px;
  border-radius: 50%;
  margin-right: 16px;
  float: right;
  line-height: 100%;
}
/* Place */
.place-list {
  margin-top: 16px;
}
.place-img {
  display: block;
  width: 100%;
}
.place-img:hover {
  opacity: 0.6;
}
.place-body {
  padding: 16px;
  background-color: #fff;
}
.place-heading {
  font-size: 15px;
  font-weight: 600;
}
.place-time {
  margin: 15px 0;
  opacity: 0.6;
}
.place-desc {
  margin: 15px 0;
}

.place-buy-btn:hover {
  color: #000;
  background-color: #ccc;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  display: none;
}
.open-modal {
  display: flex;
}
.modal .modal-container {
  position: relative;
  width: 900px;
  max-width: calc(100% - 32px);
  min-width: 200px;
  background-color: #fff;
  animation: modal-animation ease 0.5s;
}
.modal .modal-header {
  font-size: 30px;
  text-align: center;
  color: #fff;
  background-color: rgb(0, 150, 136);
  padding: 42px 16px;
}
.modal .modal-close {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  padding: 16px 16px;
  color: #fff;
}
.modal .modal-close:hover {
  color: #000;
  background-color: #ccc;
}
.modal .modal-body {
  padding: 0 16px;
}
.modal .modal-label {
  display: block;
  margin: 15px 0;
}
.modal .modal-input {
  padding: 12px 8px;
  width: 100%;
  border: 1px solid #ccc;
}
.modal .buy-tickets {
  border: none;
  font-size: 15px;
  width: 100%;
  margin: 15px 0;
  padding: 16px;
  color: #fff;
  background-color: rgb(0, 150, 136);
}
.modal .buy-tickets:hover {
  background-color: #ccc;
  color: #000;
  cursor: pointer;
}
.modal .modal-footer {
  margin-bottom: 16px;
  padding: 0 16px;
  text-align: right;
}
.modal .modal-footer a {
  color: #2196f3;
}
/* Contact-form */
.contact-content {
  margin-top: 34px;
}
.contact-info {
  font-size: 18px;
}
.contact-info i {
  width: 24px;
  display: inline-block;
}
.contact-form {
  font-size: 15px;
}
.form-control {
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
}
.map-section {
  width: 100%;
}
.map-section img {
  width: 100%;
}
#footer {
  padding: 64px 16px;
  text-align: center;
}
#footer .socials-list {
  font-size: 22px;
}
#footer .socials-list a {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
}
#footer .copyright a:hover,
#footer .socials-list a:hover {
  color: rgba(0, 0, 0, 0.3);
}
#footer .copyright {
  margin-top: 15px;
  color: rgba(0, 0, 0, 0.6);
}
#footer .copyright a {
  color: rgba(0, 0, 0, 0.6);
}
@keyframes modal-animation {
  from {
    opacity: 0;
    transform: translateY(-300px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
